<!DOCTYPE html>
<html lang="en">

<head>
    <title>Index</title>
</head>

<body>

    <a href="http://localhost:8000/" id="start">index file</a><br>
    <a href="http://localhost:8000/data">data file</a><br>


    <h1>data</h1>
</body>

</html>